bin
obj
*.sln.DotSettings.user
.vs
vendor
.idea
*.iml
**/*.received.*
venv
**/DS_Store/*
**/.DS_Store/*
# Lock files or temp files
*.lock
# IntelliJ IDEA project files
.idea/
# Gradle
.gradle
/build/

.classpath
.project
bin/
.settings/
